h1{
    font-family: 'Josefin Sans', sans-serif;
}
body{
    font-family: 'Dosis', sans-serif;
}
.container{
    // max-width: 900px;
    min-height: 700px;
    font-family: 'Dosis', sans-serif;
    background-color: white;
    opacity: 90%;
}
.stockcontainer{
    display: flex;
}
.cryptocontainer{
    display: flex;
}
.containerHalf {
    flex: 1;
    margin: 25px;
}
.header{
    text-align: center;
    margin: 10px auto;
    max-width: 500px;

}
// .profile, .daily, .news, .cryptoprofile, .cryptolatest, .cryptoweek {
//     border: brown solid 2px ;
//     border-radius: 10px;
// }