h1{
    font-family: 'Josefin Sans', sans-serif;
}
body{
    font-family: 'Dosis', sans-serif;
}
.container{
    max-width: 650px;
    min-height: 700px;
    font-family: 'Dosis', sans-serif;
}
.header{
    text-align: center;
    margin: 10px auto;
    max-width: 500px;

}