<div class="page">
    <div class="header">
        <div class="input-group mb-3">
            <input type="text" [(ngModel)]="symbolSearch" class="form-control" placeholder="Enter Symbol"
                aria-label="Recipient's username" aria-describedby="button-addon2">
                <button class="btn btn-light btn-outline-danger" (click)="onSubmit()">Submit</button>
        </div>
    </div>
    
    <div class="container">
        <div class="profile">
            <profile [symbolSearch]="symbolSearch"></profile>
        </div>
        <div class="realtime">
            <realtime [symbolSearch]="symbolSearch"></realtime>
        </div>
        <div class="daily">
            <daily [symbolSearch]="symbolSearch"></daily>
        </div>
        <div class="news">
            <news [symbolSearch]="symbolSearch"></news>
        </div>
    </div>
</div>