.underline{
    text-decoration: underline;
}
.container{
    padding: 20px;
    border-left: brown solid 2px ;
    border-top: brown solid 2px ;
    border-right: brown solid 2px ;
    border-radius: 10px;
}