h3{
    display: inline;
}

.none{
    text-decoration: none;
    color: black;
}

.container{
    padding: 20px;
    border: brown solid 2px ;
    border-radius: 10px;
}

.underline{
    text-decoration: underline;
}

.space{
    margin-left: 10px;
}

.card{
    margin-bottom: 20px;
}