<div *ngIf="results.length > 0">
    <p><span class="underline">Symbol:</span> {{results[0].ticker}}</p>
    <p><span class="underline">Address:</span> {{results[0].address1}}</p>
    <p>{{results[0].city}}, {{results[0].state}} {{results[0].zip}}</p>
    <p>{{results[0].country}}</p>
    <p>{{results[0].phone}}</p>
    <a href="{{results[0].website}}" target="_blank">{{results[0].website}}</a>
    <p><span class="underline">Industry:</span> {{results[0].industry}}</p>
    <p><span class="underline">Sector:</span> {{results[0].sector}}</p>
    <p><span class="underline"></span>Full-time Employees: {{results[0].full_time_employees}}</p>
    <p>{{results[0].description}}</p>

</div>