<div *ngIf="results.length > 0">
    <h4>Current Price: ${{results[0].quotes.USD.price}}</h4>
    <p><span class="underline">Percent change in the last:</span></p>
    <p><span class="underline">Hour</span>- %{{results[0].quotes.USD.percent_change_1h}}</p>
    <p><span class="underline">Day</span>- %{{results[0].quotes.USD.percent_change_24h}}</p>
    <p><span class="underline">Week</span>- %{{results[0].quotes.USD.percent_change_7d}}</p>
    <p><span class="underline">Month</span>- %{{results[0].quotes.USD.percent_change_30d}}</p>
    <p><span class="underline">Year</span>- %{{results[0].quotes.USD.percent_change_1y}}</p>
</div>
