h1{
    text-align: center;
    font-family: 'Dosis', sans-serif;
font-size: 40px;
}

.title{
    height: 80px;
    padding-top: 10px;
}

.bullish{
    animation-name: bullish;
    animation-duration: 6s;
    animation-iteration-count: infinite;
  }
  .bearish{
    animation-name: bearish;
    animation-duration: 6s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
  }
  
  @keyframes bullish {
    50%  {color:springgreen;
    font-size: 65px}
  }
  @keyframes bearish {
    50%  {color:red;
    font-size:65px}
  }
.all{
    background-image: url("/assets/images/bearbull.jpeg");
    background-size: 100%;
    background-position: center;
    
}